[tasks.run]
command = "cargo"
args = ["run"]
dependencies = ["resources"]

[tasks.resources]
script_runner = "@shell"
script = [
'''
cp -r ${CARGO_MAKE_WORKING_DIRECTORY}/resources ${CARGO_MAKE_WORKING_DIRECTORY}/target/debug
'''
]
